<ng-container
    *ngIf="{
        cities: cities$ | async,
        isLoading: isLoading$ | async,
        mode: mode$ | async,
        activeCity: activeCity$ | async
    } as data"
>
    <div class="App">
        <div *ngIf="data.mode === Mode.ShowCase">
            <app-addbutton
              [mode]="data.mode"
              (changeMode)="modeHandler($event)"
            ></app-addbutton>
 
            <nav>
                <app-list
                  [citiesList]="data.cities"
                  [activeCity]="data.cities?.[0]"
                ></app-list>
              </nav>

              <app-showcase [activeCity]="data.activeCity"></app-showcase>
        </div>
        
    </div>
</ng-container>
